{{#each posts as |post|}}
  {{!-- {{#each users as |user|}} --}}
  {{!-- {{#if logged_in}}
    <div class="posts-container">
      <div class="posts-title-container">
        <div class="posts-title">{{title}}</div>
        <div class="posts-title-byline">Posted by
          {{user_id}}
          on mm/dd/yyyy</div>
      </div>
      <div class="posts-content">{{content}}</div>
    </div>
  {{else}} --}}
  {{!-- <div class="posts-container-logged-out">
      <div class="posts-content-logged-out">{{post.content}}</div>
    </div>
    {{!-- <div>{{post.user.username}}</div> --}}

  <div class="posts-container">
    <div class="posts-title-container">
      <div class="posts-title">{{title}}</div>
      <div class="posts-title-byline">Posted by
        {{user.username}}
        on
        {{formatDate createdAt}}</div>
    </div>
    <div class="posts-content">{{content}}</div>
  </div>

  {{!-- {{/if}} --}}
{{/each}}