{{#each posts as |post|}}
  {{!-- {{#each users as |user|}} --}}
  {{!-- {{#if logged_in}} --}}
  {{! <div class="posts-container"> }}
  {{!-- <div class="posts-title-container">
      <div class="posts-title">{{title}}</div>
      <div class="posts-title-byline">Posted by
        {{user.username}}
        on
        {{formatDate createdAt}}</div>
    </div>
    <div class="posts-content">{{content}}</div> --}}
  {{!-- {{else}} --}}

  <div class="container">
    <div class="row posts-container-logged-out">
      <div class="col-10 posts-content-logged-out">{{content}}</div>
      <div class="col-2 posts-content-logged-out">{{formatDate createdAt}}</div>
    </div>
  </div>

  {{!-- <div class="posts-container-logged-out">
    <div class="posts-content-logged-out">{{content}}</div>
    <div>{{formatDate createdAt}}</div>
  </div> --}}
  {{! </div> }}
  {{!-- <div class="posts-container">
    <div class="posts-title-container">
      <div class="posts-title">{{title}}</div>
      <div class="posts-title-byline">Posted by
        {{user.username}}
        on
        {{formatDate createdAt}}</div>
    </div>
    <div class="posts-content">{{content}}</div>
  </div> --}}

  {{!-- {{/if}} --}}
{{/each}}